@{
    Layout = "~/Views/Shared/Master_page.cshtml";
}
<style type="text/css">

    /* Set the size of the div element that contains the map */
    #map {
        height: 400px;
        /* The height is 400 pixels */
        width: 100%;
        /* The width is the width of the web page */
    }

    #marker-tooltip {
        display: none;
        position: absolute;
        width: 300px;
        height: 200px;
        background-color: #ccc;
        margin: 15px;
    }
</style>

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCSNUzCDjt1SEhbn6EvYtyRL4TK-0m_BN8"></script>


<div class="page-wrapper">
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="container-fluid">
            <div id="map" style="height: 500px; width: auto;"></div>
            <div id="marker-tooltip"></div>
        </div>
        <div class="row" style="margin-top:40px">
            <div class="col-12">
                <div class="card">
                    <div class="card-body">

                        <div class="d-flex flex-wrap opp_inputs justify-content-center align-items-center" dir="ltr">
                            <div class="col-md-2 filter_s">
                                <div> <i class="fa fa-filter" style="color: #4db885;"></i> <span>Filters</span></div>
                            </div>
                            <div class="col-md-3">
                                <div class="dropdown dept">


                                    <select class="form-control dropdown-toggle animated fadeIn drop_but" data-toggle="dropdown" style="transition:0.5s;width: 100%;" id="Districts" name="Districts">
                                        <option selected="" disabled="">District</option>



                                    </select>
                                </div>
                            </div>

                            <div class="col-md-3">
                                <div class="dropdown dept">


                                    <select class="form-control dropdown-toggle animated fadeIn drop_but" data-toggle="dropdown" style="transition:0.5s;width: 100%;" id="section" name="section">
                                        <option selected="" disabled="">Section</option>
                                        <option value="RD">	Report Disater 	</option>
                                        <option value="DNA">	Damage Need Assesment 	</option>
                                        <option value="RNA">	Rapid Need Assesment 	</option>



                                    </select>
                                </div>
                            </div>


                            <div class="col-md-3">
                                <div class="dropdown dept">

                                    <select class="form-control dropdown-toggle animated fadeIn drop_but" data-toggle="dropdown" style="transition:0.5s;width: 100%;" id="distype" name="distype">

                                        <option selected="" disabled="">Types Of Disaster</option>
                                        <option>	Earthquakes 	</option>
                                        <option>	Riverine Flood	</option>
                                        <option>	Flash Floods	</option>
                                        <option>	Urban Flood 	</option>
                                        <option>	Glacial Lake Outburst Floods	</option>
                                        <option>	Landslides 	</option>
                                        <option>	Drought 	</option>
                                        <option>	Storm	</option>
                                        <option>	Desertification	</option>
                                        <option>	Avalanche 	</option>
                                        <option>	Settlement Fire 	</option>
                                        <option>	Forest Fire 	</option>
                                        <option>	Torrential Rainfall	</option>
                                        <option>	Lightening	</option>
                                        <option>	Hailstones 	</option>
                                        <option>	Cloud Bursting	</option>
                                        <option>	Snow Avalanches 	</option>
                                        <option>	Soil Erosion	</option>
                                        <option>	Snowfall	</option>
                                        <option>	Bomb Blast 	</option>
                                        <option>	Epidemic Diseases 	</option>

                                    </select>


                                </div>
                            </div>
                        </div>
               
                     
                        <div id="sound"></div>


                      

                        <div class="table-responsive">
                            <table id="tbl_data" class="table table-striped table-bordered display no-wrap"
                                   style="width:100%">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>ID</th>
                                        <th>Action</th>
                                        <th>Name</th>
                                        <th>Contact</th>
                                        <th>District</th>
                                        <th>Section</th>
                                        <th>DisaterType</th>
                                        <th>Date</th>

                                        <th>Latitude</th>
                                        <th>Longitude</th>

                                    </tr>
                                </thead>
                                <tbody>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
              
            </div>


        </div>
        <!-- *************************************************************** -->
        <!-- End Top Leader Table -->
        <!-- *************************************************************** -->


    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->

</div>
<!-- ============================================================== -->
<!-- End Page wrapper  -->
<!-- ============================================================== -->





<script src="~/MyScripts/viewlogs.js"></script>