<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="~/assets/images/favicon.png">
    <title>PDMA Madadgar </title>
    <!-- Custom CSS -->
    <link href="~/assets/extra-libs/c3/c3.min.css" rel="stylesheet">
    <link href="~/assets/libs/chartist/dist/chartist.min.css" rel="stylesheet">
    <link href="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.css" rel="stylesheet" />
    <!-- Custom CSS -->
    <link href="~/dist/css/style.min.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>

    <!-- Bootstrap -->
    <script src="~/assets/libs/jquery/dist/jquery.min.js "></script>

    <script src="~/Scripts/bootstrap.min.js"></script>


    <link href="~/toast/toastr.min.css" rel="stylesheet" />
    <script src="~/toast/toastr.min.js"></script>
    <script src="~/DataManager/AjaxHandler.js"></script>
    <script src="~/DataManager/Validate.js"></script>
</head>
<body>
    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
         data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-md">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-md-none" href="javascript:void(0)">
                        <i class="ti-menu ti-close"></i>
                    </a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="index.html">
                            <b class="logo-icon">
                                <!-- Dark Logo icon -->
                                <img src="~/assets/images/logo-icon.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo icon -->
                                <img src="~/assets/images/logo-icon.png" alt="homepage" class="light-logo" />
                            </b>
                            <!--End Logo icon -->
                            <span class="logo-text">
                                <!-- dark Logo text -->
                                <img src="~/assets/images/logo-text.png" alt="homepage" class="dark-logo" />
                                <!-- Light Logo text -->

                            </span>
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-md-none waves-effect waves-light" href="javascript:void(0)"
                       data-toggle="collapse" data-target="#navbarSupportedContent"
                       aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="ti-more"></i>
                    </a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
                    <!-- ============================================================== -->
                    <!-- toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav float-left mr-auto ml-3 pl-1">
                        <!-- create new -->
                        <!-- ============================================================== -->
                    </ul>
                    <!-- ============================================================== -->
                    <!-- Right side toggle and nav items -->
                    <!-- ============================================================== -->
                    <ul class="navbar-nav">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- <li class="nav-item d-none d-md-block">
                        <a class="nav-link" href="javascript:void(0)">
                            <form>
                                <div class="customize-input" style="max-width: 100%;">
                                    <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                        type="search" placeholder="Search" aria-label="Search">
                                    <i class="form-control-icon" data-feather="search"></i>
                                </div>
                            </form>
                        </a>
                    </li> -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"
                               aria-haspopup="true" aria-expanded="false">
                                <img src="~/assets/images/users/profile-pic.PNG" alt="user" class="rounded-circle"
                                     width="40">
                                <span class="ml-2 d-none d-lg-inline-block">
                                    <span>Hello,</span> <span class="text-dark">PDMA Madadgar</span> <i data-feather="chevron-down"
                                                                                                        class="svg-icon"></i>
                                </span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="user"
                                       class="svg-icon mr-2 ml-1"></i>
                                    My Profile
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="credit-card"
                                       class="svg-icon mr-2 ml-1"></i>
                                    My Balance
                                </a>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="mail"
                                       class="svg-icon mr-2 ml-1"></i>
                                    Inbox
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="settings"
                                       class="svg-icon mr-2 ml-1"></i>
                                    Account Setting
                                </a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="javascript:void(0)">
                                    <i data-feather="power"
                                       class="svg-icon mr-2 ml-1"></i>
                                    Logout
                                </a>
                                <div class="dropdown-divider"></div>
                                <div class="pl-4 p-3">
                                    <a href="javascript:void(0)" class="btn btn-sm btn-info">
                                        View
                                        Profile
                                    </a>
                                </div>
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item">
                            <a class="sidebar-link sidebar-link" href="index"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Dashboard</span>
                            </a>
                        </li>
                        <li class="list-divider"></li>

                        <li class="nav-small-cap"><span class="hide-menu">Mobile App Settings </span></li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="EvacuationCenter"
                               aria-expanded="false">
                                <i data-feather="home" class="feather-icon"></i><span class="hide-menu">Evacuation Centers</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="UploadRiskAsmnt"
                               aria-expanded="false">
                                <i data-feather="clipboard" class="feather-icon"></i><span class="hide-menu">Risk Assesment </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="Flyers"
                               aria-expanded="false">
                                <i data-feather="clipboard" class="feather-icon"></i><span class="hide-menu">News/Public Awareness </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="ComplaintsAsmnt"
                               aria-expanded="false">
                                <i data-feather="folder-plus" class="feather-icon"></i><span class="hide-menu">User Complaints</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="EmergencyContct"
                               aria-expanded="false">
                                <i data-feather="phone" class="feather-icon"></i><span class="hide-menu">Emergency Contacts</span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="QuickLinks"
                               aria-expanded="false">
                                <i data-feather="link" class="feather-icon"></i><span class="hide-menu">Quick Links</span>
                            </a>
                        </li>








                        <li class="sidebar-item">
                            <a class="sidebar-link" href="Districtcnt"
                               aria-expanded="false">
                                <i data-feather="flag" class="feather-icon"></i><span class="hide-menu">District</span>
                            </a>
                        </li>


                        <li class="sidebar-item">
                            <a class="sidebar-link" href="TehsilAsmnt"
                               aria-expanded="false">
                                <i data-feather="folder-plus" class="feather-icon"></i><span class="hide-menu">Tehsil</span>
                            </a>
                        </li>



                        <li class="sidebar-item">
                            <a class="sidebar-link" href="UserInfoAsmnt"
                               aria-expanded="false">
                                <i data-feather="user" class="feather-icon"></i><span class="hide-menu">User Info </span>
                            </a>
                        </li>

                        <li class="sidebar-item">
                            <a class="sidebar-link" href="VolunteerEngagementAsmnt"
                               aria-expanded="false">
                                <i data-feather="user" class="feather-icon"></i><span class="hide-menu">Volunteer Engagement </span>
                            </a>
                        </li>

                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <div class="preloader">
            <div class="lds-ripple">
                <div class="lds-pos"></div>
                <div class="lds-pos"></div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <div id="sound"></div>
        <footer class="footer text-center text-muted">
            All Rights Reserved by Mobilise. Designed and Developed by <a href="#">Mobilise Pakistan team</a>.
        </footer>
        <!-- All Jquery -->
        <!-- ============================================================== -->
        <script src="~/assets/libs/popper.js/dist/umd/popper.min.js"></script>
        <!-- apps -->
        <!-- apps -->

        <script src="~/dist/js/app-style-switcher.js"></script>
        <script src="~/dist/js/feather.min.js"></script>
        <script src="~/assets/libs/perfect-scrollbar/dist/perfect-scrollbar.jquery.min.js"></script>
        <script src="~/dist/js/sidebarmenu.js"></script>
        <!--Custom JavaScript -->
        <script src="~/dist/js/custom.min.js"></script>
        <!--This page JavaScript -->
        <script src="~/assets/extra-libs/c3/d3.min.js"></script>
        <script src="~/assets/extra-libs/c3/c3.min.js"></script>
        <script src="~/assets/libs/chartist/dist/chartist.min.js"></script>

        <script src="~/assets/extra-libs/jvector/jquery-jvectormap-2.0.2.min.js"></script>
        <script src="~/assets/extra-libs/jvector/jquery-jvectormap-world-mill-en.js"></script>
        <script src="~/dist/js/pages/dashboards/dashboard1.min.js"></script>
        <!--This page plugins   -->
        <!-- testing
    <script src="~/assets/extra-libs/datatables.net/js/jquery.dataTables.min.js"></script>



        <script src="~/dist/js/pages/datatable/datatable-basic.init.js"></script>

            -->




        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/dataTables.buttons.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
        <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/buttons/2.0.0/js/buttons.html5.min.js"></script>

        <link href="https://cdn.datatables.net/1.11.1/css/jquery.dataTables.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/buttons/2.0.0/css/buttons.dataTables.min.css" rel="stylesheet">


        <!-- The core Firebase JS SDK is always required and must be listed first -->
        <script src="https://www.gstatic.com/firebasejs/8.4.2/firebase-app.js"></script>


        <script src="https://www.gstatic.com/firebasejs/7.16.1/firebase-messaging.js"></script>


        <script src="~/MyScripts/firebasesettings.js"></script>



</body>
</html>
